<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ template "baseURL.html" . }}
    <script defer src="/static/js/browse/books.js"></script>
    <title>Browse</title>
</head>
<body>
    {{ template "navbar.html" . }}
    <h1 class="text-center text-4xl font-bold mt-8">Browse our collection</h1>
    <!-- <div class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white"
        role="status">
        <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
            >Loading...</span
        >
    </div> -->
</body>
</html>